<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>strava</string>
		<key>ProgramArguments</key>
		<array>
			<string>/Users/jon/checkout/strava-auto-upload/upload.sh</string>
		</array>
		<key>WatchPaths</key>
		<array>
			<string>/Volumes/GARMIN/Garmin/Activities/</string>
		</array>
	</dict>
</plist>